<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <title>Shopping list </title>
   <script>
    let app = angular.module("myApp",[]);
    app.controller("shopping_list",function($scope){
        $scope.items = [];
        $scope.add_item = function(){
            $scope.items.push($scope.new_item);
        };
        $scope.rmv_item = function(index){
            $scope.items.splice(index , 1);
        }
    });
   </script>
</head>
<body>
    <div ng-controller="shopping_list">
        <h2>My Shopping list</h2>
        <ul>
            <li ng-repeat="item in items"> {{item}} <span ng-click="rmv_item($index)">&times;</span></li>
        </ul>

        <input ng-model="new_item">
         <button ng-click="add_item()">Add</button>
    </div>
    
</body>
</html>