<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <title>Shopping list </title>
   <script>
    let app = angular.module("myApp",[]);
    app.controller("shopping_list",function($scope){
        $scope.items = ["Milk","Butter","Tea"];
    });
   </script>
</head>
<body>
    <div ng-controller="shopping_list">
        <ul>
            <li ng-repeat="item in items"> {{item}} </li>
        </ul>

        <input ng-model="new_item">
    </div>
    
</body>
</html>